---
import LayoutDefault from '~/layouts/LayoutDefault.astro'

---

<LayoutDefault>
  <div flex="~ col gap-4">

          <h2 class="post-title">2025</h2>
          <ul class="pl-6" flex="~ col gap-4">

              <li>
                <h3 class="post-title">
                  <a href="baidu.com">百度</a>
                </h3>
              </li>
          </ul>
  </div>
</LayoutDefault>