---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---


<LayoutDefault>
  <div flex="~ col gap-4">
    {
      yearMap.map(([year, posts]) => (
        <section>
          <h2 class="post-title">{year}</h2>
          <ul class="pl-6" flex="~ col gap-4">
            {posts.map(({ title, href, date }) => (
              <li>
                <h3 class="post-title">
                  <a href={href}>{title}</a>
                </h3>
                <time>{date}</time>
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>
</LayoutDefault>

