---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
  <ul>
    <li>
    <p>
    问：为什么写日记能缓解焦虑？
    答：因为你光在脑子里反复琢磨，情绪脑会抢着恐慌、甚至散布谣言不断放大焦虑。可一旦写下来，前额叶就“开始上班”了，前额叶负责你的理智和逻辑思考，前额叶一看“原来就这点事啊不至于不至于”。
    </p>
    </li>
    <li><p></p></li>
    <li><p></p></li>
  </ul>
</LayoutDefault>