---
import { getCollection } from 'astro:content';

// 获取所有的 Markdown 文件
const allPosts = await getCollection('posts');

// 过滤出标记为 timeline 的 Markdown 文件
const timelinePosts = allPosts.filter(post => post.data.timeline === true);
---

<html>
  <head>
    <title>动态页面</title>
  </head>
  <body>
    <h1>动态页面</h1>
    <ul>
      {timelinePosts.map(post => (
        <li>
          <h2>{post.data.title}</h2>
          <article>{post.body}</article>
        </li>
      ))}
    </ul>
  </body>
</html>