---
import { getCollection } from 'astro:content';

// 获取所有的 Markdown 文件
const allPosts = await getCollection('posts');

// 过滤出标记为 timeline 的 Markdown 文件
const timelinePosts = allPosts.filter(post => post.data.timeline === true);

import LayoutDefault from '~/layouts/LayoutDefault.astro'

import LayoutPost from '~/layouts/LayoutPost.astro'

---
<LayoutDefault>
    <div class="timeline">
      <h1>动态页面</h1>
      <ul style="list-style: none; padding: 0;">
        {timelinePosts.map(post => (
          <li class="timeline-item">
            <h2 class="timeline-title">{post.data.title}</h2>
            <article class="timeline-content">{post.body}</article>
          </li>
        ))}
      </ul>
    </div>
</LayoutDefault>
